.App{
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.admin_log_form{
	position: absolute;
	top: 10px;
	right: 20px;
}

.admin_log_form_item{
	margin-right: 10px;
	cursor: pointer;
}

.admin_log_form_item:hover{
	color: blue;	
}